@import "variables/global.scss";
@import "reset";
@import "themes/light";
@import "themes/dark.scss";


.app {
    font-family: var(--font-family-main);
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}