.icon {
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: auto;
}

.controls {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;

    .icon {
        margin-top: auto;
        margin-bottom: auto;
    }
}